/* Desktop version */

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.main {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.name {
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.5s ease-in;
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: '';
  display: block;
  width: 0;
  height: 0.08em;
  background: pink;
  transition: width .3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.menu {
  display: flex;
}

.contact {
  margin-left: 15px;
  transition: all 0.5s ease-in;
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: '';
  display: block;
  width: 0;
  height: 0.08em;
  background: pink;
  transition: width .3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.exp {
  transition: all 0.5s ease-in;
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0.08em;
    background: pink;
    transition: width .3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.skills {
  transition: all 0.5s ease-in;
  overflow: hidden;
  cursor: pointer;
  margin-right: 15px;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0.08em;
    background: pink;
    transition: width .3s;
  }

  &:hover::after {
    width: 100%;
  }
}
.projects {
  transition: all 0.5s ease-in;
  overflow: hidden;
  cursor: pointer;
  margin-right: 15px;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0.08em;
    background: pink;
    transition: width .3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.banner { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: white;
  font-size: 3em;
}

.footer {
  display: none;
}


/*Mobile version*/
@media screen and (max-width : 768px) {

  .container {
    
    .header {
      display: block;

      .name {
        text-align: center;
      }
      .menu {
        display: none;
      }
      
    }
  }
  .banner {

    .title {
      font-size: 1.5em;
      margin-left: 3%;
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 25px 0px;


  }

}

