/*Desktop version*/
.bars {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    color: #e0dede;
    margin-bottom: 50px;
    font-size: 1.8em;
  }

  .skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;

    .bar {
      margin-right: 50px;
    }
  }

  .tech_skills {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    b {
      text-decoration: underline;
    } 
  } 
}

.bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
  span {
      color: #fff
  }

  .progress_div {
      background-color: #e0dede;
      border-radius: .5rem;
  
      .progress {
          background-color: #7272aa;
          height: 10px;
          border-radius: 1rem;
          transition: 1s ease;
          transition-delay: 1s;
      }
  }
}

/*Mobile version*/
@media screen and (max-width : 768px) {
  .bars {

    .skills {
      height: 100%;
      display: block;
      text-align: center;
    }

    .tech_skills {
      display: block;
      text-align: center;
    }
  }
  .bar {

    .progress_div {
      margin: auto;
    }
  }
  
}
